
body {
    padding-bottom: 20px;
    height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.mt-4 {
    margin-top: 0 !important; 
}
.modal-body{
    padding-top: 0;
}
.show-rating{
    padding-left: 150px;
    width: 40px;
    height: 40px;
}
.card-body{
    padding: 0;
    text-align: center;
}
.card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
}
.card {
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 25px;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
nav{
    margin-bottom: 25px;
}
.card-title-back {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(transparent, black);
    white-space: break-spaces;
    position: absolute;
    bottom: 0;
}