
body {
    padding-bottom: 60px;
    height: 100%;
    overflow-y:hidden;
}
::-webkit-scrollbar {
    display: none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mt-4 {
    margin-top: 0 !important; 
}
.modal-body{
    padding-top: 0;
}
.show-rating{
    padding-left: 150px;
    width: 40px;
    height: 40px;
}
.card-body{
    padding: 0;
    text-align: center;
}
.card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
}
.card {
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 25px;
}
.card img{
    width: 100%;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
nav{
    margin-bottom: 0;
    
}
.card-title-back {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(transparent, black);
    white-space: break-spaces;
    position: absolute;
    bottom: 0;
}
.main{    
    padding-top: 20px;
    overflow: scroll;
    height: 95vh;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
}
.container{
    max-width: 100%;
    max-height: 100vh;
}
.nav-link{
    display: inline;
}
.title{
    text-align: left;
}
a{
    text-decoration: none;
}
.member img {
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
    width: 250px;
    height: 250px;
}
.center{
    margin: auto;
}
table{
    margin: auto;
    text-align: left;
    width: 70% !important;
}
.header{
    margin-bottom: 40px;
}
.poster {
    max-width: 300px;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 20px;
}
.movie-info{
    margin-left:0;
}
.movie-title{
    margin: 30px 0 40px;
}
.left{
    text-align: left;
}
.date {
    color: #756194;
    background-color: #30115e;
    border-radius: 3px;
    border-width: 0;
    margin-left: 10px;
    font-weight: 800;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.trailer {
    width: 100%;
    height: 500px;
}
.plot{
    margin-top: 20px;
}
.plot-details{
    min-height: 100px;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.count{
    margin-top: 20px;
    color: white;
    font-size: 0.9rem;
}
.rating{
    margin-top: 20px;
}
.error{
    margin-top: 40vh;


.member-info {
    margin: 20px 25px 0px 25px;

}