@model IEnumerable<AIII.Models.TeamMember>

@{
    ViewBag.Title = "About";
}

<div class="container">
    <h1 id="Theteam " class="text-secondary">A\\\ Team</h1>
    <div class="members row">
        @foreach (var member in Model)
        {
            <div class="member col-lg-4">
                <img src="@member.Photo" />
                <h2> @Html.ActionLink(member.Name, "EditAbout", "Home", new { id = member.Id }, null) </h2>
                <h5 class="text-primary"> @member.Role </h5>
                <p class="member-info text-muted"> @member.GeneralInfo </p>
            </div>
        }
    </div>
</div>

